body {
  background-color: #aa0b48; /* Maroon background */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(43, 40, 40, 0.7); /* Black translucent container */
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  color: #ffffff;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  width: 140px;
  text-align: left;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 5px;
}

.radio-group input {
  margin-right: 2px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
